body {
	font-family: 'Roboto Mono', monospace, Helvetica;
	margin: 0;
	background-color: #212221;
	height: 100%;
	width: 100%;
	position: absolute;
	color: #ffffff;
}

header {
	text-align: center;
}

main {
	margin: 0 auto;
	min-width: 901px;
	width: 901px;
}

table {
	/* margin: 5px auto; */
}

table, tr, td {
	border-collapse: collapse;
}

td {
	margin: 0;
	padding: 0;
	z-index: 1;
}

#player {
	display: block;
	height: 25px;
	position: relative;
	left: 3px;
	top: 0px;
	transform: translateY(-122%);
}

footer {
	text-align: center;
}

.god-mode {
	animation: god-mode-effects 0.5s infinite;
}

.god-mode-item {
	background-image: url("../assets/images/shapes/star-reversed.gif");
	height: 36px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

@keyframes god-mode-effects {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}