body {
	font-family: 'Roboto Mono', monospace, Helvetica;
	margin: 0;
	background-color: #212221;
	height: 100%;
	width: 100%;
	position: absolute;
	color: #ffffff;
}

header {
	text-align: center;
}

#msg {
	font-size: 2rem;
	background-color: gray;
	margin: 20px 0;
}

main {
	margin: 0 auto;
	min-width: 630px;
	width: 630px;
}

table {
	/* margin: 5px auto; */
}

table, tr, td {
	border-collapse: collapse;
}

td {
	margin: 0;
	padding: 0;
	z-index: 1;
}

#player {
	display: block;
	height: 25px;
	position: relative;
	left: 0px;
	top: 0px;
	transform: translateY(-110%);
}

.instructions {
	padding-left: 30px;
}

footer {
	padding: 30px 0;
	text-align: center;
}

footer a {
	color: white;
}

#gold-count {
	font-size: 1.5rem;
	margin-bottom: 5px;
}

.gold-coin {
	background-image: url("../assets/images/shapes/gold-coin.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 8px;
}

.god-mode-item {
	background-image: url("../assets/images/shapes/star-reversed.gif");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.god-mode {
	animation: glow 0.5s ease-in-out infinite alternate;
}

@keyframes glow {
	from {
		box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
	}

	to {
		box-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
	}
}