body {
	font-family: 'Roboto Mono', monospace, Helvetica;
	margin: 0;
	background-color: #212221;
	height: 100%;
	width: 100%;
	position: absolute;
	color: #ffffff;
}

main {
}

table {
	margin: 5px auto;
}

table, tr, td {
	/* border: 1px solid black; */
	border-collapse: collapse;
}

td {
	margin: 0;
	padding: 0;
	z-index: 1;
}

.shape {
	/* position: absolute; */
}
